pipeline/BlobGetMetdata.json
{
	"name": "BlobGetMetdata",
	"properties": {
		"activities": [
			{
				"name": "Get details about folder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "dsfordest",
						"type": "DatasetReference",
						"parameters": {
							"blobfromDS": "sapavi",
							"folderfromDS": "Dailyfile"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Filter out only file type",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get details about folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get details about folder').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().type,'File')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Process each file one by one",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter out only file type",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter out only file type').output",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get and store Current Iteration value",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "curiteration",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get and store Current Iteration value",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@contains(variables('curiteration'),'png')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Move all other than Image",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "BinarySource",
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true
												},
												"formatSettings": {
													"type": "BinaryReadSettings"
												}
											},
											"sink": {
												"type": "BinarySink",
												"storeSettings": {
													"type": "AzureBlobStorageWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "dsBinary",
												"type": "DatasetReference",
												"parameters": {
													"filefromDS": {
														"value": "@variables('curiteration')",
														"type": "Expression"
													},
													"blobnamefromDS": "sapavi",
													"folderfromDS": "Dailyfile",
													"container": "containerfortest"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "dsfordest",
												"type": "DatasetReference",
												"parameters": {
													"blobfromDS": "sapavi",
													"folderfromDS": "Archive\\Documents"
												}
											}
										]
									}
								],
								"ifTrueActivities": [
									{
										"name": "Move Image alone",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "BinarySource",
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true
												},
												"formatSettings": {
													"type": "BinaryReadSettings"
												}
											},
											"sink": {
												"type": "BinarySink",
												"storeSettings": {
													"type": "AzureBlobStorageWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "dsBinary",
												"type": "DatasetReference",
												"parameters": {
													"filefromDS": {
														"value": "@variables('curiteration')",
														"type": "Expression"
													},
													"blobnamefromDS": "sapavi",
													"folderfromDS": "Dailyfile",
													"container": "containerfortest"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "dsfordest",
												"type": "DatasetReference",
												"parameters": {
													"blobfromDS": "sapavi",
													"folderfromDS": "Archive\\Screenshot"
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"curiteration": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}