pipeline/BlobGetMetdata.json
{
	"name": "BlobGetMetdata",
	"properties": {
		"activities": [
			{
				"name": "Get details about folder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "dsfordest",
						"type": "DatasetReference",
						"parameters": {
							"blobfromDS": "sapavi",
							"folderfromDS": "Dailyfile"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Filter out only file type",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get details about folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().type,'File')",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}